pipelinetets/pipeline/pl_copyVerdeJsonToCSV.json
{
	"name": "pl_copyVerdeJsonToCSV",
	"properties": {
		"activities": [
			{
				"name": "List_JSON_files_Gen2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "readJson",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "iterateEachJsonFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List_JSON_files_Gen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List_JSON_files_Gen2').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "jsonToCsv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['YearMonth']"
											},
											"sink": {
												"name": "SalesMonth",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['StoreName']"
											},
											"sink": {
												"name": "OnlineRetailer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Product']"
											},
											"sink": {
												"name": "Title",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Vintage']"
											},
											"sink": {
												"name": "Vintage"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Variety']"
											},
											"sink": {
												"name": "Variety"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Score']"
											},
											"sink": {
												"name": "Score"
											}
										},
										{
											"source": {
												"path": "$['Sales']['SalesPrice']"
											},
											"sink": {
												"name": "ListPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Sales']['SalesQty']"
											},
											"sink": {
												"name": "Quantity",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "jsonVerdeParameter",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "verdeCSV",
									"type": "DatasetReference",
									"parameters": {
										"destinationFile": {
											"value": "@concat(substring(item().name, 0, sub(length(item().name),5)), '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipeline_01"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-18T10:11:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}