pipelinetets/pipeline/pl_LookupActivity_script.json
{
	"name": "pl_LookupActivity_script",
	"properties": {
		"activities": [
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "config",
					"value": {
						"value": "@activity('Lookup1').output.value[0].config",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  config  from [controlTable].[TestMetadataControlTable] where sourceName = 'source1'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vsl",
					"value": {
						"value": "@string(json(activity('Lookup1').output.value[0].config).SourceObjectSettings.schema)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"config": {
				"type": "String"
			},
			"vsl": {
				"type": "String"
			},
			"loadingbehaviour": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-09T13:42:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}