pipelinetets/pipeline/pl_master_orch_jdbc.json
{
	"name": "pl_master_orch_jdbc",
	"properties": {
		"activities": [
			{
				"name": "generate_batch_execution_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[controlTable].[GetExecutionDateV05]",
						"storedProcedureParameters": {
							"execdate": {
								"type": "String",
								"value": null
							},
							"firstload": {
								"type": "String",
								"value": "F"
							},
							"previousrunstatus": {
								"type": "String",
								"value": null
							},
							"sourcename": {
								"type": "String",
								"value": "source1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_mddi_controlTable_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_list_of_objects_to_be_ingested",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "generate_batch_execution_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[controlTable].[GetListOfObjects]",
						"storedProcedureParameters": {
							"previousrunstatus": {
								"type": "String",
								"value": {
									"value": "@activity('generate_batch_execution_date').output.firstRow.previousrunstatus",
									"type": "Expression"
								}
							},
							"retryfailedflag": {
								"type": "String",
								"value": "F"
							},
							"sourcename": {
								"type": "String",
								"value": "source1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_mddi_controlTable_sqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "MDDI_V01"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-15T13:07:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}